.btn {
    background-color: $mainBlue;
    color: white;
    border: 1px solid $mainGray;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    border-radius: 5px;

    &--yellow {
      background-color: $mainYellow;
      color: $mainGray;
      opacity: .99;
      display: none;

      @mixin atMedium {
        display: inline;
      }
    }

    &--yellow-small {
      background-color: $mainYellow;
      color: $mainGray;

      @mixin atMedium {
        background-color: $mainBlue;
        color: #FFF;
        margin-top: .275rem;
      }
    }

    &--large {
      padding: 1.1rem 1.9rem;
    }

    @mixin atSmall {
      font-size: 1.25rem;
    }
}
