.large-hero {
    border-bottom: 10px solid $mainGray;
    position: relative;

    &__image {
    display: block;
    }

    &__text-content {
    padding-top: 88px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;

    @mixin atMedium {
      padding-top: 60px;
    }
    }

    &__title {
    font-weight: 200;
    color: #FFF;
    text-shadow: 1px solid $mainGray;
    margin: 0;
    font-size: 2.4rem;

    @mixin atSmall {
      font-size: 4.8rem;

     }
    }

    &__subtitle {
    padding-top: 2rem;
    font-weight: 200;
    color: #FFF;
    text-shadow: 1px solid $mainGray;
    font-size: 1.5rem;
    margin: 0;

    @mixin atSmall {
      font-size: 2.7rem;
      }
    }

    &__description {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 1px solid $mainGray;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    @mixin atMedium {
      font-size: 1.75rem;
      margin-bottom: none;
    }
  }
}
