.primary-nav {
    padding-top: 10px;;

    @mixin atMedium {
      padding-top: 0;
    }


    &--pull-right {
      @mixin atMedium {
      float: right;
     }
    }

    ul {
      margin: 0;
      padding: 0;
      @mixin clearfix;
    }

    li {
      color: #FFF;
      list-style: none;
      display: inline-block;
      padding-right: 7px;

      @mixin atMedium {
        float: left;
        display: block;
        padding-right: 20px;
      }
    }

    li:last-child {
      padding-right: 0;

      @mixin atMedium {
        padding-right: 20px;
      }
    }
    a {
      color: #FFF;
      font-size: 1.5rem;
      text-decoration: none;
      font-weight: 300;
      display: block;
      padding: 5px 8px;
      font-size: .95rem;
      background-color: $mainBlue;
      border-radius: 4px;
      border: 1px solid $mainGray;
      margin-bottom: 2.75rem;

      @mixin atMedium {
        padding: 18px 0;
        font-size: 1rem;
        background-color: transparent;
        margin-bottom: 3rem;
        border: none;

      @mixin atLarge {
        margin-bottom: .4rem;
      }

      }
    }
  }
