.section-title {
    font-size: 3.75rem;
    font-weight: 300;
    text-shadow: 1px 1px black;
    text-align: center;

    strong {
      font-weight: 500;
    }

    &__icon {
      margin-right: .5rem;
    }
}
