.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 2px $mainGray;

    @mixin atSmall {
      font-size: 3.75rem;
    }

    strong {
      font-weight: 700;
    }

    &--blue {
      color: $mainBlue;
    }

    &--white {
      color: #FFF;
    }
  }
