.section-title {
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 2px $mainGray;

    strong {
      font-weight: 700;
    }

    &--blue {
      color: $mainBlue;
    }

    &--white {
      color: white;
    }

    &__icon {
      margin-right: .5rem;
    }
}
